### Loading Data

Quick and easy way to load data for a single bird, one recording session (one site) into a Pandas DataFrame

In [5]:
import pandas as pd
from data_loader import SessionDataLoader

In [2]:
data_loader = SessionDataLoader("YelBlu6903F", 1)

In [3]:
table = data_loader.load_table()

In [8]:
# print the stims
print(pd.unique(table["stim"]))

[u'139' u'138' u'86' u'289' u'288' u'285' u'287' u'286' u'87' u'120' u'121'
 u'261' u'260' u'124' u'125' u'265' u'264' u'59' u'58' u'55' u'54' u'57'
 u'56' u'51' u'50' u'53' u'52' u'63' u'290' u'291' u'195' u'194' u'191'
 u'193' u'192' u'115' u'114' u'117' u'116' u'111' u'110' u'113' u'112'
 u'82' u'83' u'80' u'81' u'119' u'118' u'84' u'85' u'108' u'109' u'102'
 u'103' u'100' u'101' u'106' u'107' u'104' u'105' u'39' u'38' u'60' u'61'
 u'258' u'259' u'64' u'65' u'66' u'67' u'68' u'69' u'256' u'257' u'186'
 u'184' u'185' u'99' u'98' u'91' u'90' u'93' u'92' u'95' u'94' u'97' u'96'
 u'88' u'89' u'151' u'150' u'152' u'62' u'48' u'49' u'46' u'47' u'44' u'45'
 u'42' u'43' u'40' u'41' u'146' u'147' u'144' u'145' u'142' u'143' u'140'
 u'141' u'148' u'149' u'77' u'76' u'75' u'74' u'73' u'72' u'71' u'70' u'79'
 u'78' u'263' u'262' u'122' u'123' u'266']

In [13]:
table[(table["stim"] == "285") & (table["trial"] == "1")]

,call_type,spike_time,stim_id,stim_type,trial_id,unit
650,DC,"[-1.27082491, -0.3581543, -0.06516719, 0.02555...",285,call,1,"(29, 1)"
660,DC,"[-0.85557247, 0.02174973, 0.21204996, 0.420536...",285,call,1,"(20, 2)"
670,DC,"[-1.0954752, -1.08875776, -0.99971056, -0.9971...",285,call,1,"(2, 2)"
680,DC,"[-0.79560709, -0.16850949, 0.28373003, 0.43847...",285,call,1,"(20, 1)"
690,DC,"[-1.2200346, -1.21548796, -1.21331716, -1.1563...",285,call,1,"(28, 3)"
700,DC,"[-1.38129402, -1.33119989, -1.31842041, -1.278...",285,call,1,"(26, 2)"
710,DC,"[-1.27467514, -1.15441657, -1.15130353, -1.138...",285,call,1,"(28, 2)"
720,DC,"[0.08327174, 0.11632657, 0.40468478, 0.7361741...",285,call,1,"(2, 1)"
730,DC,"[-1.2072959, -1.15310598, -0.86315012, -0.8448...",285,call,1,"(28, 1)"
740,DC,"[-1.39640832, -1.32902909, -1.25890565, -1.242...",285,call,1,"(25, 1)"
750,DC,"[-1.28032756, -1.27725554, -1.27508474, -1.274...",285,call,1,"(29, 3)"
760,DC,"[-1.20545268, -1.13819647, -0.847749, -0.84467...",285,call,1,"(29, 2)"
770,DC,"[-0.38834167, -0.38674427, -0.30883837, -0.144...",285,call,1,"(25, 3)"